{% block content %}
{% from "macro_menu.html" import menu, menu_module, menu_page with context %}
{% from "macro_include.html" import apply_theme, modals with context %}
{% import "macro.html" as macros %}
<!DOCTYPE html>
<html>
  <head lang="ko">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    {% set theme = get_theme() %}
    <link href="{{ url_for('static', filename='css/theme/'+theme+'_bootstrap.min.css') }}" rel="stylesheet">                
    <link href="{{ url_for('static', filename='css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    <link href="https://unpkg.com/balloon-css/balloon.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-notify.min.js') }}"></script>    
    <script src="{{ url_for('static', filename='js/ff_common1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ff_ui1.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.8.0/jquery.contextMenu.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.8.0/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.8.0/jquery.ui.position.js"></script>
  </head>
  
  <body class="body ">
<!--// 이 위로는 수정하지 마세요 //-->
<main id="main_container" role="main" class="container">
<div class="d-inline-block"></div>
<div>
<form id='register'>
<h3 align="center"><strong>&lt;세계김치연구소 VPN 계정 등록&gt;</strong></h3></br>
{{ macros.setting_input_text('email', '메일주소', value=arg['email'], desc=['VPN에 등록된 계정의 메일주소']) }}
{{ macros.setting_input_text('password', '비밀번호', value=arg['password'], type='password', desc=['VPN에 등록시 안내받은 인증용 비밀번호']) }}
{{ macros.setting_buttons([['gen_key_btn', '인증키발급']], left='인증키 발급') }}
<input type='hidden' id="apikey" name="apikey" value='WIKIMCERT'>
</form>
<div id="qr_div" align="center">
</div>
<br/><br/><br/>
<div align="center" style="color: #000000;">※ 관련문의: 정보보안팀 정종민(1715), 박상민(1783))</div><br/> 
</div>
</p> 
    </main>
  </body>
</html>
<script type="text/javascript">

$("body").on('click', '#gen_key_btn', function(e){ 
  e.preventDefault();
  var form = document.getElementById('register');
  console.log(form);
  console.log(form.email.value);
  var email = form.email.value;
  var password = form.password.value;
  var apikey = form.apikey.value

  if (validate_email(email) == false) {
    alert("메일 주소를 확인해주세요.");
    form.email.focus();
    return;
  }
  $.ajax({
    url: '/otp/api/generate',
    type: "GET", 
    cache: false,
    data: {email:email, password:password, apikey:apikey},
    dataType: "json",
    success: function (ret) {
      if (ret.ret == 'success') {
      // TODO: QR
        console.log(ret);
      } else {
        notify(ret.data, 'warning');
        return;
      }
      var img = "<img src='/optget"+ret.data.qr_path+"'>";
      document.getElementById('qr_div').innerHTML = img;
    }
  });
});

function validate_email(address) {
  var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
  if (address.match(validRegex)) {
    return true;
  } else {
    return false;
  }
}

</script>    
{% endblock %}
