{% extends "base.html" %}
{% block content %}

{{ macros.m_row_start('0') }}
{{ macros.m_row_end() }}
<div>
  <form id="form_search" name="from_search" class="form-inline" style="text-align:left">
    <div class="container-fluid">
      <div class="row show-grid">
        <span class="col-md-12">
          <select name="optauth" id="optauth" class="form-control form-control-sm">
              <option name="전체" value="all">전체</option>
              <option name="인증성공" value="success">인증성공</option>
              <option name="인증실패" value="fail">인증실패</option>
          </select>
	      <input id="keyword" name="keyword" class="form-control form-control-sm w-75" type="text" placeholder="메일주소입력" aria-label="Search">
          {{ macros.m_button_group([['search', '검색'], ['reset_btn', '리셋']]) }}
        </span>
      </div>
    </div>
  </form>
  <div id='page1'></div>
  {{ macros.m_hr_head_top() }}
  {{ macros.m_row_start('0') }}
  {{ macros.m_col(1,  macros.m_strong('ID')) }}
  {{ macros.m_col(2,  macros.m_strong('인증시각')) }}
  {{ macros.m_col(3,  macros.m_strong('메일주소')) }}
  {{ macros.m_col(1,  macros.m_strong('OtpNo')) }}
  {{ macros.m_col(1,  macros.m_strong('Status')) }}
  {{ macros.m_col(4,  macros.m_strong('인증결과')) }}
  {{ macros.m_row_end() }}
  {{ macros.m_hr_head_bottom() }}
  <div id="list_div"></div>
  <div id='page2'></div>
</div>

<script type="text/javascript">
var current_data = null;
var current_page = 1;
var formData = null;
var rcptlist = null;
var package_name = "{{arg['package_name']}}";

$(document).ready(function(){
  request_search('1', true);
});

$("body").on('change', '#optauth', function(e){
  e.preventDefault();
  request_search('1', true);
});


$("#search").click(function(e) {
  e.preventDefault();
  request_search('1', true);
});

$("#reset_btn").click(function(e) {
  e.preventDefault();
  $("#keyword").val('');
  request_search('1', false);
});

function request_search(page, move_top=false) {
  var formData = getFormdata('#form_search');
  globalSendCommand('auth_list', formData, null, null, function(data) {
    if (move_top) window.scrollTo(0,0);
    make_list(data.list)
    make_page_html(data.paging)
  });
}

function make_list(data) {
  var str = "";
  current_data = data;
  console.log(data);
  console.log(data.length);
  if (data.length == 0) {
    str += "<h3>인증 내역이 없습니다.</h3>";
    document.getElementById("list_div").innerHTML = str;
    return;
  }
  for (i in data) {
    str += j_row_start();

    str += j_col(1, data[i].id)
    str += j_col(2, data[i].auth_time)
    str += j_col(3, data[i].email)
    str += j_col(1, data[i].otpno)

    if (data[i].status == '200') {
        tmp = '<font color="blue">'+data[i].status+'</font>';
    } else {
        tmp = '<font color="red">'+data[i].status+'</font>';
    }
    str += j_col(1, tmp);

    if (data[i].status == '200') {
        tmp = '<font color="blue">'+data[i].result+'</font>';
    } else {
        tmp = '<font color="red">'+data[i].result+'</font>';
    }
    str += j_col(4, tmp);
    str += j_row_end();

    if (i != data.length -1) {str += j_hr();}
  }
  document.getElementById("list_div").innerHTML = str;
}

$("body").on('click', '#view_rcptlist_btn', function(e){
  e.preventDefault();
  var rcptlist_id = $(this).data('id');
  $("#rcptlist_id").val(rcptlist_id);
  $("#send_form").submit();
  //window.location.replace('/csmail/rcpt/each?rcptlist_id='+rcptlist_id);
});

$("body").on('click', '#refresh_rcptlist_btn', function(e){
  e.preventDefault();
  var rcptlist_id = $(this).data('id');
  globalSendCommandPage('refresh_rcptlist', rcptlist_id, null, null, function(ret) {
    if (ret.ret == 'success') {
      globalRequestSearch(current_page, false);
      notify(ret.data, 'success');
    }
    else {
      notify(ret.data, 'warning');
    }
  });
});

function j_button_tt(id, text, data, outline_color, tooltip='', pos='down', size='medium') {
  var str = '<button id="'+id+'" name="'+id+'" class="btn btn-sm btn-outline-'+outline_color+'" '
  if (tooltip == '') str += ' aria-label="' +text+'"';
  else str += ' aria-label="' +tooltip+'"';
  str += ' data-balloon-pos="' +pos+ '" data-balloon-length="'+size+'"';
  for ( var i in data) {
    str += ' data-' + data[i].key + '="' + data[i].value+ '" '
  }
  str += '>' + text + '</button>';
  return str;
}

</script>    
{% endblock %}
