{% extends "base.html" %}
{% block content %}

{{ macros.m_row_start('0') }}
{{ macros.m_row_end() }}
<div>
  <form id="form_search" name="from_search" class="form-inline" style="text-align:left">
    <div class="container-fluid">
      <div class="row show-grid">
        <span class="col-md-12">
          {{ macros.m_button_group([['register_user_modal_btn', '신규사용자등록']]) }}
	      <input id="keyword" name="keyword" class="form-control form-control-sm w-75" type="text" placeholder="메일주소입력" aria-label="Search">
          {{ macros.m_button_group([['globalSearchSearchBtn', '검색'], ['globalSearchResetBtn', '리셋']]) }}
        </span>
      </div>
    </div>
  </form>
  <div id='page1'></div>
  {{ macros.m_hr_head_top() }}
  {{ macros.m_row_start('0') }}
  {{ macros.m_col(1,  macros.m_strong('ID')) }}
  {{ macros.m_col(2,  macros.m_strong('등록시각')) }}
  {{ macros.m_col(3,  macros.m_strong('이름/소속')) }}
  {{ macros.m_col(2,  macros.m_strong('키발급')) }}
  {{ macros.m_col(4,  macros.m_strong('기능')) }}
  {{ macros.m_row_end() }}
  {{ macros.m_hr_head_bottom() }}
  <div id="list_div"></div>
  <div id='page2'></div>
</div>

<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title">신규OTP 사용자 등록</h4>
      </div>
      <div class="modal-body" id="modal_body" style="word-break:break-all;">
	<form id="register_form" name="register_form">
      {{ macros.setting_input_text('name', '이름') }}
      {{ macros.setting_input_text('company', '소속') }}
      {{ macros.setting_input_text('email', '메일주소') }}
      {{ macros.setting_input_text('password', '비밀번호', type='password') }}
	</form>
      </div>
      <div class="modal-footer" style="align-items:right;">
          <button type="button" id="register_user_btn" class="btn btn-default">등록</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<div>
<!-- Modal: 등록 END -->

<div class="modal fade" id="modify_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal_title">OTP 사용자 수정</h4>
      </div>
      <div class="modal-body" id="modal_body" style="word-break:break-all;">
	<form id="modify_form" name="modify_form">
      <input id="m_id" name="m_id" type="hidden">
      {{ macros.setting_input_text('m_name', '이름') }}
      {{ macros.setting_input_text('m_company', '소속') }}
      {{ macros.setting_input_text('m_email', '메일주소') }}
      {{ macros.setting_input_text('m_password', '비밀번호', type='password') }}
	</form>
      </div>
      <div class="modal-footer" style="align-items:right;">
          <button type="button" id="modify_user_btn" class="btn btn-default">저장</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      </div>
    </div>
  </div>
</div>
<div>
<!-- Modal: 수정 END -->

<script type="text/javascript">
var current_data = null;
var current_page = 1;
var package_name = "{{arg['package_name']}}";

$(document).ready(function(){
  globalRequestSearch('1');
});

function make_list(data) {
  var str = "";
  console.log(current_data);
  if (data.length == 0) {
    str += "<h3>등록된 사용자가 없습니다.</h3>";
    document.getElementById("list_div").innerHTML = str;
    return;
  }
  for (i in data) {
    str += j_row_start();
    tmp = data[i].id;
    str += j_col(1, tmp)
    tmp = data[i].created_time;
    str += j_col(2, tmp)

    tmp = '<strong>'+data[i].name+'</strong> ('+data[i].email+')<br>';
    tmp += data[i].company;
    str += j_col(3, tmp);

    if (data[i].secret_key == null) {
      tmp = '<font color="#FF0000">미발급</font>';
    } else {
      tmp = '<font color="#0000FF">발급완료</font>';
    }
    str += j_col(2, tmp);

    btn_str  = j_button_tt('globalJsonBtn', 'JSON', [{'key':'idx', 'value':i}], 'info', tooltip='사용자세부정보 확인.', pos='up-left');
    btn_str += j_button_tt('modify_user_modal_btn', '정보수정', [{'key':'idx', 'value':i}], 'success', tooltip='사용자정보를 수정합니다.', pos='up-left');
    btn_str += j_button_tt('init_skey_btn', '키초기화', [{'key':'idx', 'value':i}], 'info', tooltip='비밀키정보를 초기화 합니다.(재발급가능)', pos='up');
    btn_str += j_button_tt('remove_user_btn', '사용자삭제', [{'key':'idx', 'value':i}], 'danger', tooltip='사용자를 삭제합니다.', pos='up-right');
    tmp = j_button_group(btn_str)
    str += j_col(4, tmp);
    str += j_row_end();

    if (i != data.length -1) {str += j_hr();}
  }
  document.getElementById("list_div").innerHTML = str;
}

$("body").on('click', '#register_user_modal_btn', function(e) {
  e.preventDefault();
  $("#register_modal").modal();
});

$("body").on('click', '#register_user_btn', function(e){
  e.preventDefault();
  var formData = getFormdata('#register_form');
  const params = new URLSearchParams(formData);
  if (params.get('name') == '') {
    alert('이름을 입력해주세요');
    document.getElementById('name').focus();
    return;
  }
  globalSendCommand('register_user', formData, null, null, function(ret) {
    if (ret.ret == 'success') {
      $("#register_modal").modal('hide');
      globalRequestSearch(current_page, false);
      notify(ret.data, 'success');
    }
    else {
      notify(ret.data, 'warning');
    }
  });
});

$("body").on('click', '#modify_user_btn', function(e){
  e.preventDefault();
  var formData = getFormdata('#modify_form');
  const params = new URLSearchParams(formData);
  if (params.get('name') == '') {
    alert('이름을 입력해주세요');
    document.getElementById('name').focus();
    return;
  }
  globalSendCommand('modify_user', formData, null, null, function(ret) {
    if (ret.ret == 'success') {
      $("#modify_modal").modal('hide');
      globalRequestSearch(current_page, false);
      notify(ret.data, 'success');
    }
    else {
      notify(ret.data, 'warning');
    }
  });
});

$("body").on('click', '#modify_user_modal_btn', function(e){
  e.preventDefault();
  var idx = $(this).data('idx');
  document.getElementById("m_id").value = current_data.list[idx].id;
  document.getElementById("m_name").value = current_data.list[idx].name;
  document.getElementById("m_company").value = current_data.list[idx].company;
  document.getElementById("m_email").value = current_data.list[idx].email;
  document.getElementById("m_password").value = current_data.list[idx].password;
  $("#modify_modal").modal();
});

$("body").on('click', '#init_skey_btn', function(e){
  e.preventDefault();
  var idx = $(this).data('idx');
  var user = current_data.list[idx];
  globalConfirmModal('비밀키 초기화', '사용자('+user.name+'/'+user.email+')의 비밀키 정보를 초기화 합니다.<br>초기화 후 OTP를 재등록 해야 인증이 가능함.', function() {
    globalSendCommand('init_skey', user.id, null, null, function(ret){
      if (ret.ret == 'success') {
        globalRequestSearch(current_page, move_top=false);
        notify(ret.data, 'success');
      } else {
        notify(ret.data, 'warning');
      }
    });
  });
});

$("body").on('click', '#remove_user_btn', function(e){
  e.preventDefault();
  var idx = $(this).data('idx');
  var user = current_data.list[idx];
  globalConfirmModal('사용자 삭제', '사용자('+user.name+'/'+user.email+') 정보를 삭제하시겠습니까?<br>이 작업은 되돌릴 수 없습니다.', function() {
    globalSendCommand('remove_user', user.id, null, null, function(ret){
      if (ret.ret == 'success') {
        globalRequestSearch(current_page, move_top=false);
      } else {
        notify(ret.data, 'warning');
      }
    });
  });
});

function j_button_tt(id, text, data, outline_color, tooltip='', pos='down', size='medium') {
  var str = '<button id="'+id+'" name="'+id+'" class="btn btn-sm btn-outline-'+outline_color+'" '
  if (tooltip == '') str += ' aria-label="' +text+'"';
  else str += ' aria-label="' +tooltip+'"';
  str += ' data-balloon-pos="' +pos+ '" data-balloon-length="'+size+'"';
  for ( var i in data) {
    str += ' data-' + data[i].key + '="' + data[i].value+ '" '
  }
  str += '>' + text + '</button>';
  return str;
}

</script>    
{% endblock %}
